recursive-include ubcpdk/gds *.gds
recursive-include ubcpdk/samples/data/ *.mat
global-include *.lyp
global-include *.lym
global-include *.lyt
include requirements.txt
include requirements_dev.txt
include requirements_simulations.txt
include ubcpdk/gds/*.gds
include ubcpdk/klayout/tech/tech.lyt
include ubcpdk/klayout/tech/layers.lyp
include ubcpdk/klayout/tech/pymacros/klayout_Library.lym
