name: Auto-label PDK issues

on:
  issues:
    types:
      - opened
      - edited
      - deleted
      - pinned
      - unpinned
      - closed
      - reopened
      - assigned
      - unassigned
      - unlabeled
      - locked
      - unlocked
      - transferred
      - milestoned
      - demilestoned

jobs:
  add-label:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add label
        run: gh issue edit ${{ github.event.issue.number }} --add-label "pdk"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
